/* FOR LAPTOP L-1440px */
@media screen and (max-width: 1440px) {
  section {
    height: 160vh;
  }

  #hamburger-nav {
    display: none;
  }
  
  #navs {
    width: 300px;
    height: 580px;
  
  }

  #navs img {
    height: 150px;
    left: 20px;
    position: relative;
    width: 150px;
  }

  .introduction img {
    height: 90px;
    width: 90px;
  }
  

  .nav-links button {
    font-size: 25px;
    width: 150px;
    height: 50px;
    margin-top: 0px;
    padding: 10px;
    padding-left: 0px;
  }

  .introduction {
    left: 170px;
    top: -90px;
    height: 450px;
    width: 950px;
    font-size: 60px;
  }

  #socials-container {
    top: -30px;
  }

  #socials img{
    height:50px;
    width: 50px;
    left: 40px;
    top: 5px;
  }

  .mytitle_about{
    margin-bottom: 100px;
    left: 0px;
  }
  
  .mytitle_about h1 {
    font-size: 150px;
    position: relative;
    width: 1500px;
    top: 10px;
  }

  .mytitle_about img {
    height: 100px;
    width: 100px;
  }

  .my_whoishe{
    left: 315px;
    width: 970px;
    height: 450px
  }

  .my_whoishe p{
    font-size: 30px;
  }

  .mytitle_experience h1 {
    font-size: 120px;
    width: 1500px;
  }

  .mytitle_experience {
    margin-bottom: 100px;
    left: 80px;
  }

  .mytitle_experience img {
    height: 100px;
    width: 100px;
  }

  .experience {
    top: 0px;
    left: 605px;
    width: 1425px;
    height: 590px
  }

  #experience p {
    font-size: 45px;
  }

  .mytitle_projects {
    height: 100px;
    left: 800px;
    width: 100px;
  }

  .mytitle_projects img {
    height: 100px;
    width: 100px;
    left: 90px  ;
    position: absolute;
  }

  .mytitle_projects h1 {
    font-size: 150px;
    white-space: nowrap;
  }

  .project {
    left: 600px;
    height: 250px;
    width: 1600px;
  }

  .project p {
    font-size: 44px;
  }

  #projects img {
    position: relative;
    height: 150px;
    width: 150px;
    bottom: 1px;
  }
}

/* FOR LAPTOP S-1024px */

@media screen and (max-width: 1024px) {
  section {
    height: 260vh;
  }

  #hamburger-nav {
    display: none;
  }

  #navs {
    width: 600px;
    height: 1200px;
  }

  .introduction {
    left: 500px;
    top: 250px;
    height: 500px;
    width: 1350px;
    font-size: 90px;
  }

  #socials-container {
    top: 350px;
  }

  #socials img{
    height: 90px;
    width: 90px;
    left: 140px;
  }

  #socials-container img{
    height: 100px;
    width: 100px;
    left: 760px;
    top: 650px;
  }

  .mytitle_about{
    top: 1%;
    margin-bottom: 100px;
    left: 560px;
  }
  
  .mytitle_about h1 {
    font-size: 250px;
    width: 1500px;
  }

  .mytitle_about img {
    position: relative;
    height: 200px;
    width: 200px;
    bottom: 1px;
  }

  .my_whoishe {
    left: 600px;
    top: 120px;
    width: 1440px;
    height: 800px
  }

  .my_whoishe p{
    font-size: 50px;
  }

  .my_whoishe button{
    height: 50px;
    font-size: 50px;
  }

  .my_whoishe button p{
    font-size: 80px;
  }

  .mytitle_experience h1 {
    font-size: 200px;
    width: 1500px;
  }

  .mytitle_experience {
    top: 1%;
    margin-bottom: 100px;
    left: 560px;
  }

  .mytitle_experience img {
    position: relative;
    height: 150px;
    width: 150px;
    bottom: 1px;
  }

  .experience {
    left: 600px;
    top: 120px;
    width: 1440px;
    height: 600px
  }

  #experience p {
    font-size: 45px;
  }

  .mytitle_projects h1 {
    font-size: 120px;
    width: 1500px;
  }

  .mytitle_projects {
    top: 1%;
    margin-bottom: 100px;
    left: 560px;
  }

  .mytitle_projects img {
    position: relative;
    height: 150px;
    width: 150px;
    bottom: 1px;
  }

  .project p {
    font-size: 42px;
  }

  .project-container {
    padding: 0px;
  }

  .project {
    top: 40px;
    left: 650px;
    height: 300px;
    width: 1500px;
  }
}

/* MOBILE S-768 PX */

@media screen and (max-width: 769px) {

  body {
    overflow: visible;
  }
  section {
    height: 400vh;
  }

  #navs {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    position: fixed;
    gap: 900px;
  }

  .formobile {
    position: relative;
    top: 200px;
    left: 1200px;
  }

  .formobile img {
    height: 600px;
    width: 600px;
    border-radius: 100%;
    border: 2px solid #b5a7bf;
    box-shadow: 6px 4px #4a4c5c;
  }

  .introduction {
    left: -160px;
    top: 100%;
    height: 1000px;
    width: 2730px;
    font-size: 180px;
  }

  .introduction img {
    height: 160px;
    width: 160px;
  }

  #socials-container {
    top: 350px;
    left: 250px;
  }

  #socials img{
    height:150px;
    width: 150px;
    left: 300px;
  }

  #socials-container img{
    height: 200px;
    width: 200px;
    left: 1060px;
    top: 930px;
  }

  .mytitle_about{
    top: 1%;
    margin-bottom: 100px;
    left: 200px;
  }
  
  .mytitle_about h1 {
    font-size: 350px;
  }

  .mytitle_about img {
    position: absolute;
    height: 200px;
    top: 90px;
    width: 200px;
  }

  .my_whoishe {
    left: 50px;
    top: 240px;
    width: 2700px;
    height: 1400px
  }

  .my_whoishe p{
    font-size: 90px;
  }

  .my_whoishe button{
    height: 50px;
    font-size: 50px;
  }

  .my_whoishe button p{
    font-size: 80px;
  }

  .mytitle_experience h1 {
    font-size: 250px;
    left: 90px;
  }

  .mytitle_experience {
    top: 1%;
    margin-bottom: 100px;
    left: 560px;
  }

  .mytitle_experience img {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 0px;
  }

  .experience {
    left: 0px;
    top: 260px;
    width: 2700px;
    height: 1180px
  }

  #experience p {
    font-size: 85px;
  }

  .mytitle_projects {
    top: 2%;
    margin-bottom: 100px;
    left: 200px;
  }

  
  .mytitle_projects h1 {
    font-size: 240px;
  }

  .project p {
    font-size: 70px;
    padding: 50px;
  }

  .project {
    top: 500px;
    left: 100px;
    height: 500px;
    width: 2730px;
  }

  #projects img {
    padding: 40px;
    width: 300px;
    height: 300px;
    position:relative;
  }
}

/* FOR Mobile 320px */
@media screen and (max-width: 320px) {
  section {
    height: 120vh;
  }

  body {
    overflow-x: hidden;
  }

  .introduction img {
    height: 20px;
    width: 20px;
  }

  #navs {
    display: none;
  }

  #hamburger-nav {
    display: flex;
    position: fixed;
    gap: 190px;
  }

  .hamburger-logo a {
    font-size: 40px;
    left: 5px;
  }

  .menu-links a {
    padding-left: 390px;
  }

  .menu-links {
    height: 500px;
    width: 500px;
  }

  .formobile img {
    height: 120px;
    width: 120px;
  }

  .formobile {
    left: 80px;
    padding: 20px;
    padding-top: 5px;
  }

  .introduction p {
    padding: 0px;
    padding-top: 10px;
  }

  .introduction {
    height: 200px;
    width: 260px;
    padding: 20px;
    left: -190px;
    top: 150px;
    font-size: 18px;
  }


  #socials-container img{
    height: 40px;
    width: 40px;
    left: -120px;
    top: 30px;
  }

  .mytitle_about{
    left: -690px;
    top: auto;
  }
  
  .mytitle_about h1 {
    font-size: 50px;
  }

  .mytitle_about img {
    top: 1%;
    height: 40px;
    width: 40px;
  }

  .my_whoishe{
    height: 370px;
    width: 290px;
    padding: 9px;
    left: -44px;
    top: auto;
  }

  .my_whoishe p{
    padding: 0%;
    padding-top: 10px;
    font-size: 10px;
  }

  .my_whoishe .cv {
    padding: 0px;
    height: 25px;
    font-size: 10px;
  }

  .mytitle_experience h1 {
    font-size: 40px;
  }

  .my_whoishe img {
    height: 40px;
    width: 40px;
  }

  .mytitle_experience {
    left: -690px;
    top: -40px;
  }

  .mytitle_experience img {
    top: 1%;
    height: 40px;
    width: 40px;
  }

  .experience {
    height: 260px;
    width: 290px;
    padding: 9px;
    left: -44px;
    top: auto;
  }

  #experience p {
    padding: 0%;
    padding-top: 10px;
    font-size: 9px; 
  }

  .mytitle_projects {
    left: -40px;
    top: 40px;
  }

  .mytitle_projects img {
    top: 0%;
    left: 0px;
    height: 40px;
    width: 40px;
  }

  .mytitle_projects h1 {
    font-size: 50px;
  }

  .project {
    height: 90px;
    width: 290px;
    padding: 9px;
    left: 0px;
    top: auto;
  }

  .project p {
    padding: 0%;
    padding-top: 10px;
    font-size: 10px;
  }

  #projects img {
    position: relative;
    height: 40px;
    padding: 5px;
    width: 40px;
  }
}

