@media screen and (max-width: 1200px) {

    /* --- NAV BAR --- */
    .WebsiteLinks {
        display: none;
    }

    #NavBar .ToggleButton {
        display: block;
    }

    #NavBar {
        justify-content: space-between;
        align-items: center;
    }

    #NavBar .WebsiteName, #NavBar .ToggleButton {
        margin-left: 10%;
        margin-right: 10%;
    }

    .DropdownMenu {
        display: block;
        top: 15%;
    }
}

@media screen and (max-width: 600px) {

  #NavBar .ToggleButton {
    display: flex;
    align-items: center;
  }

  #HamburgerNav {
    height: 20px;
  }

  .DropdownMenu {
    display: block;
    position: absolute;
    left: 10%;
    width: unset;
    right: 10%;
  }

  .DropdownMenu a {
    font-size: 15px;
  }
}