/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url('./assets/bg.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

section {
  height: 100vh;
  margin: 0px;
  box-sizing: border-box;
  min-height: fit-content;
}

/* Navigation Bar */

#NavBar {
  height: 0.75in;
  width: 97%;
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  background-color: #a37a91;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  margin: 1rem;
}

.WebsiteName img{
  border: 2px solid #b5a7bf;
  box-shadow: 2px 2px #4a4c5c;
  height: 5%;
  width: 5%;
  border-radius: 100%;
}

.WebsiteName img {
  margin: 10%;
}

.NavBarLinks {
  list-style: none;
  display: flex;
  gap: 0.25in;
  background-color: #a37a91;
}

.NavBarLinks a {
  color: #a37a91;
  padding: 10px 15px;
  transition-duration: 0.5s;
}

.NavBarLinks a:hover {
  color: #a37a91;
  background-color: #b5a7bf;
}

#NavBar .ToggleButton {
  display: none;
}

.DropdownMenu {
  display: none;
  position: absolute;
  right: 1rem;
  width: 300px;
  height: 0;
  overflow: hidden;
  z-index: 1;
}

/* Navigation Bar Open */

.DropdownMenu.open {
  height: unset;
  background-size: 100%;
  align-items: center;
  border-radius: 10% 10%;
  cursor: pointer;
  background-color: a37a91;
}

.DropdownMenu li {
  list-style: none;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
}

.DropdownMenu a {
  color: white;
  transition-duration: 0.5s;
}

.DropdownMenu a:hover {
  color: a37a91;
}

/*intro*/

.introduction {
  color: #f4e1e1;
  background-color: #a2488c;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  text-decoration: none;
  border-radius: 25px;
  position: relative;
  top: 19%;
  left: 9%;
  width: 83%;
}

.introduction img {
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 5rem;
  background: none;
}

.introduction p {
  position: relative;
  display: flex;
  padding: 6px;
  margin: 1%;
  font-size: 80px;
}

/*ABOUT ME*/

.mytitle_about h1 {
  text-shadow: 3px 3px 5px black;
}

.mytitle_about img {
  position: relative;
  height:80px;
  width: 80px;
}

.mytitle_about {
  position: relative;
  color: #da91eb;
  top: 12%;
  border-radius: 35%;
  font-size: 70px;
  text-align: center;
}

.my_whoishe {
  color: #f4e1e1;
  background-color: #a2488c;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  font-size: 30px;
  position: relative;
  top: 12%;
  left: 20%;
  width: 60%;
  text-decoration: none;
  border-radius: 25px;
}

.my_whoishe p{
  color: #f4e1e1;
  font-size: 30px;
  position: relative;
  margin: .199%;
  left: 2%;
  text-decoration: none;
  border-radius: 25px;
}

.my_whoishe img {
  height: 48px;
  width: 48px;
}

.cv {
  padding-left: 50px;
  padding-right: 50px;
  border-style: dashed;
  border-color: rgb(112, 38, 192);
  background-color: #a55edc;
  transition: 1.5s;
  height: 30px;
  cursor: pointer;
  }

/* EXPERIENCE */

.mytitle_experience h1 {
  text-shadow: 3px 3px 5px black;
}

.mytitle_experience img {
  position: absolute;
  margin-top: 1%;
  height: 65px;
  width: 65px;
}

.mytitle_experience {
  position: relative;
  color: #da91eb;
  top: 12%;
  border-radius: 35%;
  font-size: 60px;
  text-align: center;
}

.experience {
  color: #f4e1e1;
  background-color: #a2488c;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  font-size: 30px;
  position: relative;
  top: 12%;
  left: 17%;
  width: 65%;
  text-decoration: none;
  border-radius: 25px;
}

.experience p{
  color: #f4e1e1;
  font-size: 30px;
  position: relative;
  margin: 1%;
  left: 2%;
  text-decoration: none;
  border-radius: 25px;
}

/* PROJECTS */

.mytitle_projects h1 {
  text-shadow: 3px 3px 5px black;
}

.mytitle_projects img {
  position: relative;
  top: 20px;
  height:80px;
  width: 80px;
}

.mytitle_projects {
  position: relative;
  color: #da91eb;
  top: 12%;
  border-radius: 35%;
  display: flex;
  left: 35%;
  font-size: 60px;
  text-align: center;
}

.project {
  width: 30%;
  color: #f4e1e1;
  background-color: #a2488c;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  padding-top: 5px;
  font-size: 27px;
  text-decoration: none;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15%;
}

.project p {
  font-size: 100%;
  color: white;
  margin: 5%;
}

.project img {
  border: 2px solid #b5a7bf;
  border-radius: 100%;
  height: 20%;
  width: 20%;
  
}

.projectContainer {
  display: flex;
  margin: 1%;
  margin-top: 8%;
  height: 65%;
  justify-content: space-evenly;
}

/*contacts*/

.mytitle_contacts h1 {
  text-shadow: 3px 3px 5px black;
}

.mytitle_contacts img {
  position: relative;
  top: 10px;
  height: 65px;
  width: 65px;
}

.mytitle_contacts {
  position: relative;
  color: #da91eb;
  top: 12%;
  border-radius: 35%;
  display: flex;
  left: 40%;
  font-size: 66px;
  text-align: center;
}


/*footer*/

.cont{
  height: 65%;
  margin-left: 10%;
  margin-top: 6%;
  width: 80%;
  color: #f4e1e1;
  background-color: #a2488c;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  font-size: 50px;
  position: relative;
  display: flex; 
  text-decoration: none;
  align-items: center;
  border-radius: 5%;
}

.contacting {
  position: relative;
  display: flex;
  flex-direction: column;
  left: 27%;
  margin-top: -15%;

}

.contacting p {
  margin-top: 10px;
}

.contactingtwo {
  position: relative;
  display: flex;
  margin-top: 19%;
  left: -20%;
  flex-direction: column;
}

.contactingtwo img {
  height: 90px;
  width: 90px;
  margin: 10px;
  border-radius: 100%;
}

.footer2 p {
  height: 0.75in;
  width: 97%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #a37a91;
  border: 2px solid #b5a7bf;
  box-shadow: 6px 4px #4a4c5c;
  margin: 1rem;

}

