/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mali:ital,wght@0,700;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mali', cursive;
}

/* Navigation Bar */

.logo {
  font-size: 28px;
}

nav,
.nav-links {
  height: 100%;
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: pink;
  overflow-x: hidden;
  padding-top: 20px;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 28px;
}

a {
  color: #4b3737; 
  text-decoration: none;
}

/* Side Profile Section */

.dp_container img {
  border-radius: 50%;
}

/* Profile Section */


.profile-text {
  margin: auto 0; 
}

.profile-text p {
  font-family: 'Source Code Pro', monospace;
}

