/* Whole HTML Document */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Mali:ital,wght@0,700;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mali', cursive;
}

/* Navigation Bar */

.logo {
  font-size: 28px;
}

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}